# This is the common config used by lychee, our dead html link checker
# See the github actions workflows to see the inputs
# https://github.com/lycheeverse/lychee/blob/2109470dc380eaf66944b6bcfa86230e0a58e58f/lychee-bin/src/options.rs#L152

verbose = "debug"
no_progress = true
# docs are checked via Docusaurus link checker, so we can skip them here
exclude_path = ["./node_modules", "./target", "./docs/", "./build"]
exclude = [
  # Avoid Github rate limits
  "github.com/ChainSafe/forest",
  # Maybe temporarily down with 404, but it blocks the CI
  "filecoin.io/slack",
]
timeout = 30
max_retries = 6
retry_wait_time = 10

output = "lychee-report.md"
